body{
	font-family: 'MuseoModerno', cursive;
 	text-align: justify;
	width: 100%;
	height: 100%;
    margin:0 auto;
	background-color: #FFF1F3;

}

#grafico{
	background-color: #efecec;
    margin: 100px;
	box-shadow: 0 3px 5px #989898;
	padding-bottom: 0;
	border-radius: 6%;
	box-shadow: 5px 5px 10px grey;
}
#texto{
	padding-top: 25px;
    padding-bottom: 25px;
	overflow: auto;
	line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo{
	text-align: center;
	letter-spacing: 15px;
	color: #D81633;
	text-shadow:2px 5px 5px #A81F85;
	font-size: 60px;
}

.menu{
	display:flex;
    text-align: center;
	padding: 1px;
	font-size: 16px;
	margin-left: 32%;
	margin-right: 32%;
}

.lista{
	margin: 5px;
	border-radius: 8px;
	border-color: #013ADF;
	display: block;
    box-shadow:2px 2px 10px #A81F85;

}

.link1{
	background-color:#D81633;
	border-style: outset;
	border-radius: 8px;
	border-color: #A81F85;
	display: block;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
    text-shadow: 2px 3px 6px #A81F85;
}
a.link1:link{
	text-decoration:none;
	color: #fff;
}
 a.link1:visited{
	 color:#fff;
}
a.link1:active{
	color:#fff;
}
a.link1:hover{
	transition-delay: .1s;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/*
	FORMULÁRIO
*/

.formulario{
    background-color: #efecec;
    padding: 40px 45px 40px 45px;
    margin: 0px 150px;
	box-shadow: 0 3px 5px #989898;
	padding-bottom: 0;
	border-radius: 6%;
	box-shadow: 5px 5px 10px grey;

}

.formulario__grupo{
    margin-bottom: 15px;
}

.formulario__campo{
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 5px; /*1º parâmetro: verticais; 2º: horizontais*/
}

.formulario__label{
    color: #343434;
}

.formulario__botao{
    border: 3px solid #fff;
    border-radius: 350px;
    background-color: #D81633;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 15px;
    font-weight: bold;
}

footer{
    background: rgb(216,22,51);
    background: linear-gradient(0deg, rgba(216,22,51,0.6197829473586309) 0%, rgba(255,241,243,1) 100%);
    padding-bottom: 20px;
    margin-top: 100px;
}